.cart {
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  background-color: #1a1a1a;
  z-index: 5000;
  width: 400px;
  transition: .2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  .bottom-box{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    color: var(--gray);
    .checkout-btn {
      font-size: 28px;
      color: #fff;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
  &.open {
    transform: translate(-100%);
  }

  .game-list {
    li {
      display: flex;
      justify-content: space-between;
      margin: 4px 0;
      .remove-from-cart {
        cursor: pointer;

      }
    }
  }
}