@use "header";
@use "cart";
:root {
  --gray: rgba(255, 255, 255, 0.97);
}
@font-face {
  font-family: "GT walsheim pro";
  src: url('../fonts/gtwalsheimpro_condensedmedium.otf'),
  url("../fonts/gtwalsheimpro_condensedmedium.otf") format("opentype");
}
@import-normalize;

body {
  font-family: "GT walsheim pro", Arial, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515;
  color: #fff;
  padding: 0 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
  transition: .2s;
  &:hover {
    filter: brightness(1.1);
  }
}

.hover-lighter{
  user-select: none;
  &:hover {
    filter: brightness(1.1);
  }
}
